<h1>Data Tag Angkatan</h1>

<table>
	<tr>
		<th>Nama Lengkap</th>
		<th>Link Photo</th>
	</tr>

	<% @names.each do |name| %>
		<tr>
			<td><%= name.namalengkap %></td>
			<td><%= link_to 'Photo', "../assets/#{name.npm}.jpg" %></td>
			<td><%= link_to 'Show', name_path(name) %></td>
			<td><%= link_to 'Edit', edit_name_path(name) %></td>
			<td><%= link_to 'Destroy', name_path(name), method: :delete, data: { confirm: 'Are you sure you want to delete your name?'} %></td>
		</tr>
	<% end %>
</table>